.input-search{
  width: 60%;
  border-radius: 10px;
  border: 2px solid lightgray;
  height: 44px;
  padding-left: 14px;
  font-size: 20px;
}
.login-card{
 border: 2px solid lightgray !important;
}
.input-box{
  width: 50%;
    height: 40px;
    border-radius: 9px;
    border: 2px solid lightgray;
    padding-left: 10px;
}
.input-button{
  border-radius: 10px;
  height: 42px;
  font-size: 19px;
  background: white;
  color: red;
  border: 1px solid red;
}
.input-button:hover{
  color:white;
  background-color: green;
  border:1px solid green
}

#page-numbers {
  list-style: none;
  display: flex;
}

.sidenav {
  height: 100%;
  width: 11%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  list-style-type: none;
  background-color: #444;
  overflow-x: hidden;
  padding-top: 20px;

  }



.sidenav1 {
  height: 100%; 
  width: 4%; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #444; 
  overflow: hidden;
  padding-top: 20px;
}
.navbar-color{
  background-color: #444;
}
.profileView{
  margin-top: 50px;
  margin-left: 300px;
  position: sticky;
  top: 0;
  padding: 50px;
  z-index:100;
}

.images {
height: 100vh;
width: 100%;
}

.text {
position: absolute;
bottom: 30px;
left: 499px;
color: red;
}